/* ======================================
   Layout
====================================== */
.recipe-container {
    width: 1200px;
    max-width: 1180px;
    margin: 25px auto;
    padding: 0 30px;
}

/* ======================================
   Forms
====================================== */
.recipe-container .content form input,
.recipe-container .content form select {
    height: 30px;
}

.recipe-container .content textarea {
    border: 1px solid #663d00bd;
    height: 90px;
}

/* ======================================
   Main Structure
====================================== */
.top-container,
.IA {
    background-color: #aa8e69;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
    width: 1115px;
}

.top-container {
    margin-bottom: 20px;
}

.IA {
    display: flex;
    gap: 50px;
    margin-top: 12px;
}

/* ======================================
   Bottom Structure
====================================== */

.bottom-container {
    display: flex;
    flex: 1;
    gap: 10px;
    margin-top: 8px;
    width: 100%;
}

.bottom-left,
.bottom-right {
    background-color: #aa8e69;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.bottom-left {
    gap: 1px;
    padding: 9px;
    width: 600px;
}

.bottom-right {
    align-items: center;
    gap: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 25px;
    width: 280px;
}

.bottom-right-beer {
    background-color: #aa8e69;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 60px;
}

/* ======================================
   Internal Components
====================================== */
.bar-container {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.buttons-container {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.beer-object {
    width: 200px;
}

.ingredients-list-button-group button {
    padding: 0 5px;
}

/* ======================================
   Icons / SVGs
====================================== */
.malt-object,
.yeast-object,
.hop-object,
.misc-object {
    height: 16px;
    width: 20px;
}

/* ======================================
   Animations
====================================== */
@keyframes thunderGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
                    0 0 20px rgba(255, 255, 255, 0.3);
    }
    30% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
                    0 0 50px rgba(255, 255, 255, 0.4),
                    0 0 80px rgba(255, 215, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 1),
                    0 0 100px rgba(255, 255, 255, 0.6),
                    0 0 120px rgba(255, 255, 0, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
                    0 0 20px rgba(255, 255, 255, 0.3);
    }
}

.ButtonMystical:hover {
    animation: thunderGlow 1s ease-out forwards;
}

/* ======================================
   Buttons
====================================== */
.modalAddButtonFermentable,
.modalAddButtonHop,
.modalAddButtonYeast,
.modalAddButtonMisc {
    background: #744410;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 33px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    width: 160px;
}

.modalAddButtonFermentable:hover,
.modalAddButtonHop:hover,
.modalAddButtonYeast:hover,
.modalAddButtonMisc:hover {
    filter: brightness(90%);
}

.ButtonMystical {
    background: #744410;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    height: 79px;
    margin-left: 19px;
    transition: filter 0.2s;
    width: 79px;
}

/* ======================================
   Modal
====================================== */
.modal-search-button {
    all: unset;
    cursor: pointer;
    display: block;
    padding: 1px 12px;
    text-align: left;
    width: 100%;
}

.modal-search-button.selected {
    background-color: #b7702a;
}

.modal-search-results {
  overflow-y: auto;
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* Internet Explorer, Old Edge */
}

.modal-search-results::-webkit-scrollbar {
  display: none;                   /* Chrome, Safari, Opera */
}
