venv/
.venv/
old_backend_flask/venv/
old_backend_flask/.venv/
/old_backend_flask/ssl
/old_frontend_CRA/node_modules
/old_frontend_CRA/ssl

/frontend/node_modules
/frontend/build
/frontend/ssl

__pycache__
.env
.env.docker
.env.production
