.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 170px;
  background-color: #45361e;
  color: #16505e;
  overflow-x: hidden;
  z-index: 1000;
  box-shadow: 0 0px 150px rgba(0, 0, 0, 1);
}

.sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 0px;
  display: flex;  
  flex-direction: column; 
  grid-gap: 10px;
}

.sidebar .menu ul li {
  padding: 1px 10px;
  background-color: #614922; 
  border-radius: 8px;
}

.sidebar .menu ul li a {
  text-decoration: none;
  color: #cb8b00;
  font-size: 16px;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar .menu ul li a:hover {
  color: #ffc400;
  border-radius: 5px;
  transform: scale(1.05); /* Efeito de leve aumento */
}

.menu hr {
  border: none; /* Remove a borda padrão */
  height: 2px; /* Define a espessura */
  background: linear-gradient(to right, #69480b, #493003); /* Gradiente azul-verde */
  margin: 10px 0; /* Espaçamento acima e abaixo */
  border-radius: 5px; /* Arredondar as extremidades */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.sidebar .Brewchemy-object {
  height: 200px;
  width: 200px;
  margin-top: -20px;
  margin-left: -12px;
}