.main-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 30px auto;
}

.header-main {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.div-logout-button{
    position: relative;
    margin-left: 670px;
}

.brewchemy-text {
    font-size: 4rem; /* Aumente o valor para deixar o texto maior */
    font-weight: bold;
}

.maltImg {
    height: 100px;
    width: 100px;
}

.reciptImg {
    height: 100px;
    width: 100px;
}