.recipe-container {
    width: 1200px;
    max-width: 1180px;
    padding: 0 30px;
    margin: 25px auto;
}

.recipe-container .content form input, select{
    height: 30px;
}

.recipe-container .content textarea {
    border: 1px solid #663d00bd;
    height: 90px;
}

.top {
    width: 1115px;
    background-color: #aa8e69; 
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.bottom-container {
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex: 1; 
}

.bottom-left, .bottom-right {
    min-width: 0; 
}

.bottom-left {
    background-color: #aa8e69; 
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    width: 500px;
    padding: 10px;
}

.bottom-left li {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
    line-height: 1.8;
}

.bottom-left ul li button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.bottom-left ul li button:hover {
    opacity: 1;
}

.bottom-right {
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #b38f56; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    width: 400px;
    padding: 10px;

    flex-direction: column; /* Coloca cada elemento em uma nova linha */
    display: flex;
    gap: 3px; /* Adiciona um pequeno espaço entre os itens */
}

.bar-container {
    display: flex; /* Organiza OG e OGBar na horizontal */
    align-items: center; /* Alinha verticalmente no centro */
    gap: 8px; /* Espaço entre o OG e a barra */
}

.bottom-right-beer {
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #987233; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.buttons-container {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.beer-object {
    width: 200px;
}

.malt-object, .yeast-object, .hop-object, .misc-object{
    width: 20px;
    height: 20px;
}

.modalAddButtonFermentable, .modalAddButtonHop, .modalAddButtonYeast, .modalAddButtonMisc {
    width: 160px;
    height: 33px;
    background: #744410;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: filter 0.2s;
    cursor: pointer;
}

.modalAddButtonFermentable:hover, .modalAddButtonHop:hover, .modalAddButtonYeast:hover, .modalAddButtonMisc:hover {
    filter: brightness(90%);
}

.bottom-left ul li .ingredients-list-button-group {
    position: absolute;
    left: 435px;
    display: flex;
    gap: 8px;
}

.bottom-left ul li ingredients-list-button-group button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.bottom-left ul li .ingredients-list-button-group button:hover {
    opacity: 0.8;
}

.bar-container {
    margin-bottom: 15px; /* Ajuste conforme necessário */
}