.recipe-container {
    width: 100%;
    max-width: 1000px;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-crud {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.div-logout-button{
    position: relative;
    margin-left: 670px;
}

.recipe-container header span {
    font-size: 20px;
    margin-left: -70px;
    margin-top: 25px;
}

.recipe-container section {
    width: 100%;
    max-width: 380px;
}

.recipe-container section h1 {
    margin: 0 0 32px;
    font-size: 32px;
}

.recipe-container section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.recipe-container section form {
    width: 100%;
    max-width: 450px;
}

.recipe-container .content form input,
.recipe-container .content form textarea {
    margin-top: 8px;
}

.recipe-container section a {
    position: absolute;
    top: 20px;
    left: 20px;
}

.recipe-container section a svg {
    margin-right: 8px;
}

.top {
    width: 100%; 
    height: 50%; 
    background-color: #a5a749; 
    padding: 20px;
    border: 1px solid #ccc;
}

.form-fields {
    display: flex;       
    gap: 20px;           
}

.input-name { 
    width: 45%;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    line-height: 20px;
}

.bottom-container {
    display: flex;
    width: 100%;
    flex: 1; 
}

.bottom-left, .bottom-right {
    flex: 1;
    min-width: 0; 
}

.bottom-left {
    background-color: #eed170; 
}

.bottom-left li {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
}

.bottom-left ul li button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.bottom-left ul li button:hover {
    opacity: 0.8;
}

.bottom-right {
    background-color: #c29b31; 
}

.buttons-container {
    display: flex;
    gap: 10px;
}
  
.beerImg {
    width: 150px;
    height: auto;
}

.beer-object {
    fill: #ff5733;
    width: 200px;
    height: 200px;
}

.beer-object path {
    fill: #ff5733;
}