.recipe-container {
    margin-left: 250px;
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 30px auto;
}

.header-crud {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.div-logout-button{
    position: relative;
    margin-left: 670px;
}

.recipe-container header span {
    font-size: 20px;
    margin-left: -70px;
    margin-top: 25px;
}

.recipe-container section {
    width: 100%;
    max-width: 380px;
}

.recipe-container section h1 {
    margin: 0 0 32px;
    font-size: 32px;
}

.recipe-container section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.recipe-container section form {
    width: 100%;
    max-width: 450px;
}

.recipe-container .content form input,
.recipe-container .content form textarea {
    margin-top: 8px;
}

.recipe-container section a {
    position: absolute;
    top: 20px;
    left: 20px;
}

.recipe-container section a svg {
    margin-right: 8px;
}

.top {
    width: 100%; 
    height: 50%; 
    background-color: #d9b951; 
    padding: 20px;
    border: 1px solid #ccc;
}

.form-fields {
    display: flex;       
    gap: 20px;           
}

.input-name { 
    width: 45%;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    line-height: 20px;
}

.bottom-container {
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex: 1; 
}

.bottom-left, .bottom-right {
    flex: 1;
    min-width: 0; 
}

.bottom-left {
    background-color: #d9b951; 
    position: relative;
}

.bottom-left li {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
    line-height: 1.8;
}

.bottom-left ul li button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.bottom-left ul li button:hover {
    opacity: 0.8;
}

.bottom-right {
    background-color: #c29b31; 
}

.buttons-container {
    display: flex;
    gap: 10px;
}
  
.beerImg {
    width: 150px;
    height: auto;
}

.beer-object {
    fill: #ff5733;
    width: 200px;
    height: 200px;
}

.beer-object path {
    fill: #ff5733;
}

.malt-object, .yeast-object, .hop-object{
    width: 20px;
    height: 20px;
}

.modalAddButtonFermentable {
    width: 140px;
    height: 40px;
    background: #903615;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 2px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: filter 0.2s;
    cursor: pointer;
}

.modalAddButtonHop {
    width: 140px;
    height: 40px;
    background: #903615;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 2px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: filter 0.2s;
    cursor: pointer;
}

.modalAddButtonYeast {
    width: 140px;
    height: 40px;
    background: #903615;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 2px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: filter 0.2s;
    cursor: pointer;
}

.modalAddButtonFermentable:hover, .modalAddButtonHop:hover, .modalAddButtonYeast:hover {
    filter: brightness(90%);
}

.bottom-left ul li .ingredients-list-button-group {
    position: absolute;
    left: 390px;
    display: flex;
    gap: 8px;
}

.bottom-left ul li ingredients-list-button-group button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.bottom-left ul li .ingredients-list-button-group button:hover {
    opacity: 0.8;
}